/* General Styles */
body {
  font-family: Lato;
  font-weight: 400;
  font-size: 10px;
}

h1 {
  color: #b71c1c;
  font-family: Oswald;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 40px;
}

h2 {
  font-family: Oswald;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-family: Oswald;
  font-size: 1.5rem;
  font-weight: 700;
}

ul, p {
  font-size: 1.25rem;
}

li, p {
  line-height: 1.5;
}

/* Links */

a {
  color: #b71c1c1;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  
}

a:visited {

}

a:focused, a:hover {
  border-bottom: 1px solid;
}

a:active {

}

/* Header */

nav ul {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  line-height: 3;
  padding-left: 40px;
}

nav li {
  display: inline;
}

nav a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: #484848;
}

/* Page Settings */

main {
  padding-left: 40px;
}

section {
  width: 800px;
}

/* Sections */

.connect {

}

/* Footer */

footer {
  border-top: 1px solid #eeeeee;
  margin-top: 40px;
  line-height: 2;
}

footer p {
  color: #484848;
  font-size: 1rem;
  padding-left: 40px;
}






